body {
    padding-top: 100px;
    padding-bottom: 100px;
}

header, footer {
    position: fixed;
    width: 100%;
    background: lightgreen;
    z-index: 1;
}

header {
    top: 0;
}

footer {
    bottom: 0;
    text-align: center;
}

.menu-button {
    float: right;
}